@import "scss/bootstrap";

html, body { text-rendering: optimizeLegibility; min-width: 320px; min-height: 100vh; -webkit-font-smoothing: antialiased; font-size-adjust: auto; font-weight: normal; position: relative; background: #fff; }
